<div>
    <ul>
    <li><a href="/workouts/add">Add Workout</a></li>
    <li><a href="/workouts">Workouts</a></li>
    <li><a href="#"> View Future Workouts</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    
    visual list from http://bl.ocks.org/mbostock/4b66c0d9be9a0d56484e
    
    </ul>
</div>