@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

* {
    font-family: 'PT Sans', sans-serif;
}

/* navbar */
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  font-size: 1em;
  border: none;
}
/* title */
.navbar-default .navbar-brand {
    color: #516163;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #63B2BB;
}
/* link */
.navbar-default .navbar-nav > li > a {
    text-decoration: none;
    color: #516163;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #63B2BB;
    background-color: #323B3C;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #516163;
    background-color: #999;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #516163;
    background-color: #999;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #323B3C;
    border-bottom-color: #323B3C;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background-color: #fff;
        color: #516163;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #516163;
    }
}