<!DOCTYPE html>
<html ng-app>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>



<div class="container-fluid">
<h1>Welcome to Make My Run<br /> <strong>start thinking differently about running</strong></h1>

<p>Make my run was created by runners, for runners. With the aim at a visually appealing approach, the goal is to think differenly about how you look at running. Training philosophies, planning, and injury prevention by way of visual representation, warning systems, and reccomendations is the goal here.  If you haven't already <a href="/register">signed up</a>, feel free to do so now.  It's free, fun, and you should do it because you're worth it!</p>

<p>Spearheaded by Josh Ludahl, this project is open source and free to use with the hopes of enriching the running community. Josh wanted to give something back that would be useful, beautiful, and progressive. And so began Make My Run!</p>

<p>Our current phase is in phase 1 of 5. Phase 1 entails some simple features just to get things rolling. As our user base builds, we plan to implement the other phases. 
Some features you might be interested in include logging workouts, planning workouts, and visually seeing your progress. We'll track your progess and offer warnings if you've increased your mileage above the reccomended progression, and other reccomendations. However, this feature can be disabled if it's not for you.

</p>

<p>We're also working on some training plans that you can follow for various race and/or fitness goals. This will help you achieve your goals in a structured way.</p>

</div>


</body>
</html>