<!DOCTYPE html>
<html ng-app>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>


<div class="container-fluid">
<h1>Contact</h1>
    <p>If you have suggestions, questions, or general comments, please contact Josh Ludahl by <a href="mailto:josh@ludahl.com">email</a>.  Thank you.</p>

</div>





</body>
</html>
