<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <!-- Place Angular App Scripts here -->

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container-fluid">
<h1>Get started now<br /> <strong>what are you waiting for?</strong></h1>

<p>You should just <a href="/register">sign-up</a>. Honestly, I don't know why you're still reading this. It's almost like you'd rather read this boring text than change the way you look at running. If you're actually serious about changing the way you look at running, then <a href="/register">sign-up</a>.</p>


</div>


  <footer>
<!-- add the partials footer later -->
  </footer>

</body>
</html>
